.page-mock-router {
  z-index: 1;
  height: 100vh;
  flex-grow: 1;
  user-select: none;

  .first-template,
  .second-template,
  .third-template {
    width: 100%;
    height: 100%;

    &__header {
      display: block;
      height: 40px;
      width: 100%;
      overflow: hidden;
    }

    &__title {
      height: 40px;
      width: fit-content;
      padding: 0 5px;
      margin: 0 0 0 10px;
      line-height: 40px;
      font-family: 'Lobster', cursive;
      font-size: 16px;
      letter-spacing: 2px;
    }

    &__main {
      height: calc(100% - 40px);
      background-color: white;
      overflow: hidden;
    }

    &__footer {
      height: 10px;
    }
  }
}

@media screen and (max-width: 824px) {
  .first-template,
  .second-template,
  .third-template {
    &__header {
      display: block;
      height: 30px !important;
    }

    &__title {
      display: block !important;
      margin-left: 40px !important;
      height: 30px !important;
      line-height: 30px !important;
    }

    &__main {
      //height: calc(100% - 95px) !important;
      overflow-y: scroll !important;

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    &__main-space {
      padding: 10px 8px 10px 20px;
    }

    &__footer {
      height: 5px;
    }
  }
}
