.copy-buttons {
  display: block;
  margin-bottom: 10px;

  &__header {
    text-align: center;
    margin: 15px 0 5px;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__hex-btn,
    &__hsl-btn {
      padding: 5px;
      border: 1px solid gray;
      border-radius: 15px;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }

    &__hex-btn:hover,
    &__hsl-btn:hover {
      cursor: pointer;
      border-color: #03a9f4;
    }
  }
}

@media screen and (max-width: 824px) and (max-height: 824px) {
  .copy-buttons {
    width: 100%;

    &__header {
      position: absolute;
      top: 42px;
      left: calc(50% - 100px);
      width: 200px;
      margin: 0;
      color: gray;
    }

    &__buttons-container {
      position: absolute;
      top: 40px;
      flex-direction: column;
      justify-content: space-between;
      height: 80px;
      width: 50px;
      margin: 30px 30px 0;
      text-align: center
    }
  }
}

@media screen and (max-width: 824px) and (max-height: 420px) {
  .copy-buttons {
    display: flex;
    flex-direction: row;
    width: 50vw;
    position: absolute;
    top: 35px;
    left: 135px;

    &__header {
      position: relative;
      left: 0;
      top: 0;
      margin: 0 10px 0 0;
      text-align: left;
      line-height: 30px;
    }

    &__buttons-container {
      position: relative;
      top: 0;
      flex-direction: row;
      height: 30px;
      width: 100px;
      margin: 0;
      text-align: center;

      &__hsl-btn {
        margin-left: 5px;
      }
    }
  }
}
