.side-menu {
  position: relative;
  z-index: 3;
  height: 100vh;
  flex: 0 0 300px;
  margin: 0;
  background-color: white;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.75);
  transition: margin-left .2s ease-in-out;

  &--hidden {
    margin-left: -280px;
  }

  &__container {
    display: inline-block;
    height: 100%;
    width: calc(100% - 20px);
    padding-left: 10px;
    overflow: hidden;
    background-color: white;
  }

  &__title {
    text-align: center;
    user-select: none;
  }

  &__menu-controls-hint {
    display: none;
    margin: 5px 0;
    text-align: center;
    color: rgb(105, 105, 105);
    opacity: 0;
    user-select: none;
    animation: hint-animation 3s 3s infinite;
  }

  &__colors-container {
    display: grid;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 50px);
  }

  &__hide-btn {
    display: inline-block;
    height: 100%;
    width: 20px;
    position: relative;
    overflow: hidden;
    user-select: none;
  }

  &__hide-btn::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    z-index: 2;
    background-image: url('../../assets/img/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    transition: transform .4s ease;
  }

  &__hide-btn:hover {
    cursor: pointer;
  }

  &--hidden &__hide-btn::before {
    transform: rotate(-180deg);
  }
}

@keyframes hint-animation {
  0% { opacity: 0; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (max-width: 824px) and (max-height: 824px) {
  .side-menu {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    box-shadow: none;
    transition: transform .2s ease-in-out 0s;

    &--hidden {
      margin-left: 0;
      transform: translateX(-100%);
    }

    &__title {
      margin-bottom: 5px;
    }

    &__menu-controls-hint {
      display: block;
    }

    &__container {
      display: block;
      height: 100%;
      width: 100%;
    }

    &__hide-btn {
      display: none;
    }
  }
}
