&.first-template {
  .page-mock__main {
    display: flex;
    justify-content: start;
    flex-direction: row;

    .side-bar {
      position: relative;
      z-index: 2;
      min-height: calc(100vh - 70px);
      flex: 0 0 300px;
      margin-left: 0;
      transition: margin-left .3s ease;

      &.close {
        margin-left: -300px;
      }

      &__nav-item {
        height: 50px;
        width: 250px;
        margin: 5px auto;
        border-radius: 25px;
        text-align: center;
        line-height: 50px;
        -webkit-tap-highlight-color: transparent;

        &:hover {
          cursor: pointer;
        }

        &:nth-of-type(1) {
          width: 280px;
        }
      }
    }

    .main-space {
      position: relative;
      z-index: 1;
      height: 100%;
      flex-grow: 1;
      background-color: grey;
      overflow: auto;

      &__post-item {
        display: block;
        height: 150px;
        width: auto;
        margin: 10px 30px;
      }

      &__post-item-title {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 824px) and (max-height: 824px) {
  &.first-template {
    .side-bar {
      flex: 0 0 100vw;

      &.close {
        margin-left: -100vw;
      }
    }
  }
}
