&.second-template {
  .page-mock__header:hover {
    cursor: default !important;
  }

  .page-mock__main {
    display: block;

    .side-bar {
      display: none;
    }

    .main-space {
      position: relative;
      z-index: 1;
      height: calc(100vh - 70px);
      width: 100%;
      overflow: auto;

      &__post-item {
        display: block;
        height: 70px;
        width: auto;
        margin: 10px;
        overflow: hidden;

        &:nth-of-type(2) {
          height: 300px;
        }
      }

      &__post-item-title {
        display: block;
        height: 30px;
        width: 300px;
        margin-top: 20px;
        line-height: 30px;
        text-align: center;
      }

      &__post-item-title:hover {
        cursor: pointer;
      }

      &__post-item:nth-of-type(2) .main-space__post-item-title {
        margin-top: 270px;
      }
    }
  }
}

@media screen and (max-width: 824px) and (max-height: 824px) {
  &.second-template {
    .side-bar {
      flex: 0 0 100vw;

      &.close {
        margin-left: -100vw;
      }
    }
  }
}
