.third-template {
  &__main-space {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
    justify-content: space-around;
    height: 100%;
    flex-grow: 1;
    padding: 10px 20px !important;
    overflow-y: auto;

    &__post-item {
      position: relative;
      display: block;
      height: 200px;
      flex: 0 1 300px;
      width: auto;
      box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.75);
      overflow: hidden;
    }

    &__post-item.active {
      height: 300px;
      width: 100%;
      grid-column: 1 / 3;
    }

    &__post-title {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 30px;
      width: 100%;
      line-height: 30px;
      white-space: nowrap;
      text-align: center;
      overflow: hidden;
      transition: width .2s ease, left .2s ease, border-radius .2s ease;
    }

    &__post-title:hover {
      left: 15%;
      width: 70%;
      border-radius: 15px 15px 0 0;
    }

    &__post-item.active &__post-title {
      width: 70%;
      bottom: 15px;
      left: 15%;
      border-radius: 15px;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 768px), screen and (max-height: 768px) {
  .third-template {
    &__main-space {
      grid-template-columns: repeat(auto-fit, minmax(0, 100%));

      &__post-item.active {
        height: 300px;
        grid-column: unset;
      }
    }
  }
}
