.color-picker {
  margin: 15px auto;
  width: fit-content;

  &__saturation {
    position: relative;
    height: 200px;
    width: 200px;
  }

  &__hue {
    position: relative;
    height: 10px;
    width: 200px;
    padding: 0 1px;
    border-radius: 5px;
    margin: 10px 0 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 824px) and (max-height: 824px) {
  .color-picker {
    &__saturation {
      position: relative;
      height: 50vh;
      width: auto;
    }

    &__hue {
      position: relative;
      height: 30px;
      width: calc(100vw - 20px);
      border-radius: 15px;
      margin: 10px 10px 0;
    }
  }
}

@media screen and (max-width: 824px) and (max-height: 424px) {
  .color-picker {
    position: relative;
    display: inline-block;
    top: -70px;
    height: 60vh;
    width: calc(100vw - 20px);
    margin: 0 10px;

    &__saturation {
      position: relative;
      height: 100%;
      width: 100%;
    }

    &__hue {
      position: relative;
      z-index: 4;
      top: calc(-60vh - 40px);
      left: 110px;
      width: calc(100% - 110px);
      margin: 0;
    }
  }
}
