.page-mock {
  min-height: 100vh;
  flex-grow: 1;
  background-color: grey;
  user-select: none;
  overflow: hidden;

  &__header {
    height: 50px;
    width: 100%;
  }

  &__title {
    display: inline-block;
    height: auto;
    margin: 15px 15px 0;
    letter-spacing: 1px;
  }

  &__title:hover {
    cursor: pointer;
  }

  &__main {
    height: calc(100% - 70px);
    min-width: 100%;
    position: relative;
    //overflow: hidden;
  }

  &__footer {
    height: 20px;
    width: 100%;
  }

  @import "./templatesStyles/firstTemplate.scss";
  @import "./templatesStyles/secondTemplate.scss";
  @import "./templatesStyles/thirdTemplate.scss";
}

@media screen and (max-width: 824px) and (max-height: 824px) {
  .page-mock {
    //min-height: calc(100vh - 56px);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    &__title {
      display: inline-block;
      height: auto;
      margin: 5px 15px 0 45px;
      letter-spacing: 1px;
    }

    &__header {
      height: 30px;
    }

    &__main {
      height: calc(100% - 35px);
    }

    &__footer {
      height: 5px;
    }
  }
}
